* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('images/building_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Container */
form {
    position: relative;
    z-index: 1;
    background: #8891949d;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 450px;
    backdrop-filter: blur(10px);
    transform: translateY(0);
    transition: transform 0.3s ease;
    margin-bottom: 1rem;
    border: 1px solid rgba(255, 107, 53, 0.3);
    display: flex;
    flex-direction: column;
    gap: 10px;
}


form:hover {
    transform: translateY(-5px);
}


/* Logo Styling */
.brand-logo {
    margin: 20px;
    width: auto;
    height: 100px;
    display: block;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease;
}

.brand-logo:hover {
    transform: rotate(-5deg) scale(1.1);
}

/* Input Group */
.input-group {
    position: relative;
}


/* label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #8ca3c7;
    pointer-events: none;
    transition: 0.3s ease;
} */


input {
    width: 100%;
    padding: 1.2rem;
    background: #3a494d;
    border: 2px solid #2a456b;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    transition: 0.3s ease;
}


input:focus,
input:valid {
    outline: none;
    border-color: #3a494d;
    background: #142847;
}


input:focus~label,
input:valid~label {
    top: -10px;
    left: 10px;
    font-size: 0.8em;
    color: #3a494d;
    padding: 0 5px;
}


/* Button */
button {
    background: #3a494d;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}


button:hover {
    background: #142847;
}

/*Error and Success stylings*/
.input-success {
    border-color: #00ff88 !important;
}


.input-error {
    border-color: red !important;
}