.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-align-items{
    gap: 20px;
    display: flex;
    align-items:start;
    justify-content: space-between;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
}

#contain {
    height: 297mm;
    width: 210mm;
    background-color: #fff;
    padding: 50px;
}

.lists {
    display: flex;
    gap: 30px;
}

.line {
    height: 1.5px;
    background-color: black;
}

.identity {
    font-size: 2.5rem;
}

.contacts {
    font-size: 1.2rem;
}

.subsections {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-style: normal;
}
