<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/cssforgetpassword.css">
</head>
<body>
    <form action="/otp-forgot" id="one-time-block">

        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="xyz@gmail.com">
        <button type="submit">Get OTP</button>

    </form>

    <form action="/change-password" id="change-form">

        <label for="otp">Enter OTP</label>
        <input type="text" name="otp" id="otp" placeholder="Enter 6 digit otp" required>

        <label for="new-password">New Password</label>
        <input type="password" name="new-password" id="new-password" placeholder="Enter New Password" required>

        <label for="check-password">Re-Enter Password</label>
        <input type="password" name="check-password" id="check-password" placeholder="Re-Enter New Password" required>

        <button type="submit">Change Password</button>
    </form>

    <script src="/jsforgetpassword.js"></script>
</body>
</html>