<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RozgaarReady</title>
    <link rel="stylesheet" href="/cssindex.css">
</head>

<body>
    <div class="name">
        <h1>RozgaarReady</h1>
    </div>

    <div class="buttons">
        <a href="/login"><button class="button">Login</button></a>
        <a href="/signup"><button class="button">Signup</button></a>
        <button class="button">Connect</button>
        <button class="button">Github</button>
        <button class="button">About</button>
    </div>

    <div class="welcome_container">
        <p class="welcome">Welcome to RozgaarReady</p>
    </div>

    <div class="boxes">
        <div class="box box-left">
            <img src="https://via.placeholder.com/400" alt="Image 1">
            <div class="content">
                <h3>Box 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, dolores.\</p>
            </div>
        </div>

        <div class="box box-right">
            <img src="https://via.placeholder.com/400" alt="Image 2">
            <div class="content">
                <h3>Box 2</h3>
                <p>This is the second box with a right image.</p>
            </div>
        </div>

        <div class="box box-left">
            <img src="https://via.placeholder.com/400" alt="Image 3">
            <div class="content">
                <h3>Box 3</h3>
                <p>Here's a third box with a left image.</p>
            </div>
        </div>

        <div class="box box-right">
            <img src="https://via.placeholder.com/400" alt="Image 4">
            <div class="content">
                <h3>Box 4</h3>
                <p>Box four with a right image.</p>
            </div>
        </div>

        <div class="box box-left">
            <img src="https://via.placeholder.com/400" alt="Image 5">
            <div class="content">
                <h3>Box 5</h3>
                <p>The fifth box comes with a left image.</p>
            </div>
        </div>

        <div class="box box-right">
            <img src="https://via.placeholder.com/400" alt="Image 6">
            <div class="content">
                <h3>Box 6</h3>
                <p>And here comes the sixth box with a right image.</p>
            </div>
        </div>
    </div>

    <script src="/jsindex.js"></script>
</body>

</html>