<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    This is a Login page features coming soon!!
    <form action="/log" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" autocomplete="username" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="username" required>

        <button type="submit">Submit</button>
    </form>
    <script src="/login.js"></script>
</body>
</html>