<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/cssresumeT1.css">
</head>
<body>
    <div id="contain">
        <div class="header">
            <!-- USER-NAME -->
            <div class="name centering">
                <h2 class="identity username">Name</h2>
            </div>

            <!-- CONTACTS -->
            <div class="centering">
                <ul class="lists">
                    <li class="contacts flex contact">Phone No</li>
                    <li class="contacts flex offEmail"><i class='bx bx-envelope' ></i>email@gmail.com</li>
                    <li class="contacts flex"><a class="flex linkedin" href=""><i class='bx bxl-linkedin-square'></i>linkedin</a></li>
                    <li class="contacts flex"><a class="flex github" href=""><i class='bx bxl-github'></i>github</a></li>
                </ul>
            </div>
        </div>

        <!-- //Education -->
        <h2 class="subsections edu-head">Education</h2>
        <div class="line edu-head"></div> 
        <div class="education">
        </div>

        <h2 class="subsections work-head">Education</h2>
        <div class="line work-head"></div> 
        <div class="workExperience">
            <div class="flex">
                <h3>Wells Fargo</h3>
                <p>2024</p>
            </div>
            <div class="flex-align-items">
                <p>Worked as a Backend Developer and created a Talking BOT Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, deleniti!</p>
                <p>Bangalore</p>
            </div>
        </div>


        <!-- //Projects -->
        <h2 class="subsections project-head">Personal Projects </h2>
        <div class="line project-head"></div>
        <div class="projects">
        </div>
        <!-- Technical Skills -->
        <h2 class="subsections">Technical Skills and Interests</h2>
        <div class="line"></div>
        <div class="skills">
            <span><b>Languages: </b></span><span class="languages">C++</span><br>
            <span><b>Developer Tools: </b></span><span class="devTools">C++</span><br>
            <span><b>Frameworks: </b></span><span class="frameworks">C++</span><br>
            <span><b>Cloud/Databases: </b></span class="cloudDb"><span>C++</span><br>
            <span><b>Soft Skills: </b></span><span class="softskills">C++</span><br>
            <span><b>Coursework: </b></span><span class="coursework">C++</span><br>
            <span><b>Areas of Interest: </b></span><span class="interestAre">C++</span><br>
        </div>

        <h2 class="subsections position-head">Positions Of Responsibility</h2>
        <div class="line position-head"></div>
        <div class="extra-curricular">
        </div>
        
        <h2 class="subsections acheivement-head">Achievements</h2>
        <div class="line acheivement-head"></div>
        <div class="achievements">
        </div>

    </div>
    <button id="generatePdf">Generate PDF</button>
    <script src="/jsresumeT1.js"></script>
</body>
</html>