<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/cssresumeT1.css">
</head>
<body>
    <div id="contain">
        <div class="header">
            <div class="name centering">
                <h2 class="identity">Name</h2>
            </div>
            <div class="centering">
                <ul class="lists">
                    <li class="contacts flex">Phone No</li>
                    <li class="contacts flex"><i class='bx bx-envelope' ></i>email@gmail.com</li>
                    <li class="contacts flex"><i class='bx bx-envelope' ></i>email@gmail.com</li>
                    <li class="contacts flex"><a href=""><i class='bx bxl-linkedin-square'></i>linkedin</a></li>
                    <li class="contacts flex"> <a href=""><i class='bx bxl-github'></i>github</a></li>
                </ul>
            </div>
        </div>
        
        <div class="education">
            <h2 class="subsections">Education</h2>
            <div class="line"></div>
            <div class="edu">
                <div class="subEdu">
                    <div class="flex">
                        <h3>Malaviya Institute of Technology</h6>
                        <p>2027</p>
                    </div>
                    <div class="flex">
                        <p>BTECH</p>
                        <p>CGPA : 8.59</p>
                    </div>
                </div>
                <div class="subEdu">
                    <div class="flex">
                        <h3>Malaviya Institute of Technology</h6>
                        <p>2027</p>
                    </div>
                    <div class="flex">
                        <p>BTECH</p>
                        <p>CGPA : 8.59</p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="projects">
            <h2 class="subsections">Personal Projects </h2>
            <div class="line"></div>
            <div class="subProject">
                <h3>Weather Application</h3>
                <p>Backend Developer</p>
                <p>HTML, CSS, Javascript</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, debitis!</p>
            </div>
            <div class="subProject">
                <h3>Weather Application</h3>
                <p>Backend Developer</p>
                <p>HTML, CSS, Javascript</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, debitis!</p>
            </div>
            <div class="subProject">
                <h3>Weather Application</h3>
                <p>Backend Developer</p>
                <p>HTML, CSS, Javascript</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, debitis!</p>
            </div>
        </div>
        

        <div class="skills">
            <h2 class="subsections">Technical Skills and Interests</h2>
            <div class="line"></div>
            <div class="languages">
                <span>Languages:</span><span>C++</span><br>
                <span>Languages:</span><span>C++</span><br>
                <span>Languages:</span><span>C++</span><br>
                <span>Languages:</span><span>C++</span><br>
                <span>Languages:</span><span>C++</span><br>
                <span>Languages:</span><span>C++</span><br>
                <span>Languages:</span><span>C++</span><br>
            </div>
        </div>

        <div class="extra-curricular">
            <h2 class="subsections">Positions Of Responsibility</h2>
            <div class="line"></div>
            <div class="subposition flex">
                <p>Executive CS Club</p>
                <p>10-09-2025</p>
            </div>
            <div class="subposition flex">
                <p>Executive CS Club</p>
                <p>10-09-2025</p>
            </div>
            </ul>
        </div>
        

        <div class="achievements">
            <h2 class="subsections">Achievements</h2>
            <div class="line"></div>
            <div class="acheiv flex">
                <p>Acheived 2nd Position in Code Golf, SPHINX'24</p>
                <p>10-09-2025</p>
            </div>
            <div class="acheiv flex">
                <p>Acheived 2nd Position in Code Golf, SPHINX'24</p>
                <p>10-09-2025</p>
            </div>
        </div>

    </div>
    <button id="generatePdf">Generate PDF</button>
    <script src="https://unpkg.com/pdf-lib@1.17.1/dist/pdf-lib.min.js"></script>
    <script>
        document.getElementById('generatePdf').addEventListener('click', async function () {
            // Create a new PDF document
            const { PDFDocument, StandardFonts, rgb } = PDFLib;
            const pdfDoc = await PDFDocument.create();
            const page = pdfDoc.addPage([600, 800]); // Set page size
    
            // Set font and font size
            const font = await pdfDoc.embedFont(StandardFonts.Helvetica);
            const fontSize = 12;
    
            // Extract text and links from the HTML
            const container = document.getElementById('contain');
            const textContent = container.innerText; // Extract all text
            const links = container.querySelectorAll('a'); // Extract all links
    
            // Add text to the PDF
            page.drawText(textContent, {
                x: 50,
                y: 750, // Start from the top of the page
                size: fontSize,
                font: font,
                color: rgb(0, 0, 0), // Black text
                lineHeight: 15, // Adjust line height
            });
    
            // Add links to the PDF
            let yOffset = 750; // Start from the top
            links.forEach(link => {
                const linkText = link.innerText;
                const linkUrl = link.href;
    
                // Draw the link text
                page.drawText(linkText, {
                    x: 50,
                    y: yOffset,
                    size: fontSize,
                    font: font,
                    color: rgb(0, 0, 1), // Blue text for links
                });
    
                // Add the clickable link
                const textWidth = font.widthOfTextAtSize(linkText, fontSize);
                page.drawRectangle({
                    x: 50,
                    y: yOffset - 2, // Adjust for alignment
                    width: textWidth,
                    height: fontSize,
                    borderWidth: 0,
                    color: rgb(1, 1, 1, 0), // Transparent rectangle
                    link: linkUrl, // Make the rectangle clickable
                });
    
                yOffset -= 15; // Move down for the next line
            });
    
            // Save the PDF
            const pdfBytes = await pdfDoc.save();
            const blob = new Blob([pdfBytes], { type: 'application/pdf' });
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = 'resume.pdf';
            link.click();
        });
    </script>
</body>
</html>