<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Selection</title>
    <link rel="stylesheet" href="/csstemplates.css">
</head>
<body>
    <div class="container">
        <h1>Choose a Template</h1>
        <a href="/rozgaarready/temp-1" class="a4-link template-1">Template 1</a>
        <a href="/rozgaarready/temp-2" class="a4-link template-2">MNIT Template</a>        
    </div>
</body>
</html>
